#root {
  width: 100%;
  text-align: center;
  height: 100%;
  margin: 0;
  padding: 0;
  overflow-y: hidden;
}
:root{
  --asideColor: #242424;
}
/*NORMAL PART*/
.normalContainer{
  height: 100%;
  display: grid;
  width: 100vw;
  justify-items: center;
  grid-template-rows: 1fr auto;
}

.footer{
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  color: white;
  font-size: 18px;
  font-weight: 400;
  background-color: black;
}
.footer a,.footer p{
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 5px;
  transition: color 0.4s;
}
.footer a:hover{
  transition: color 0.2s;
  color: white;
}
.footer a:hover img{
  transition: transform 0.2s;
  transform: scale(1.4);
}

.footer img{
  transition: transform 0.4s;
  filter: invert(100%) sepia(2%) saturate(13%) hue-rotate(52deg) brightness(104%) contrast(100%);
}
.authBtns{
  width: 100%;
  display: flex;
  flex-direction: column;
  gap:8px;
}
.appTitle{
  display: flex;
  flex-direction: row;
  align-items: end;
  text-align: center;
  color: white;
}
.appTitle span{
  text-align: center;
  color: rgb(0, 150, 250);
}
.appTitle img{
  width: 65px;
  height: 65px;
  filter: invert(100%) sepia(2%) saturate(13%) hue-rotate(52deg) brightness(104%) contrast(100%);
}

.mainNormalContent{
  width: 90vw;
  max-width: 300px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
body, html {margin: 0;padding: 0; height: 100%;}
/*Main Part*/
.content{
  color: white;
  display: grid;
  grid-template-columns: 1.5fr 3fr;
  background-color: red;
  height: 100vh;
  width: 100%;
}
aside{
  background-color: var(--asideColor);
}
section{
  background-color: #192e52;
}
/*Main Part - Account*/
.accountInf{
  padding: 15px 0px;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 25px;
  background-color: #226ad3;
  border-bottom: solid #18181b 2px;
  margin-bottom: 25px;
  border-radius: 0;
  transition: background-color 0.3s;
}
.accountInf:hover{
  border-bottom: solid #18181b 2px;
  background-color: #2256ab;
  transition: background-color 0.3s;
  cursor: pointer;
}
.accountInf:hover .account img{
  border: 2px solid #eff8ff;
  transition: border 0.2s;
}
.account{
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px
}
.account img{
  transition: border 0.2s;
  margin-left: 10px;
  border: 2px solid #18181b;
  border-radius: 50%;
  height: 75px;
  width: 75px;
  object-fit: cover;
}
.account h2{
  font-size: 25px;
}
/*Main Part - friendsInf*/
.friendsInf{
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: .85rem;
}
.friendsInf button{
  background-color: #226ad3;
  line-height: 1.2;
  word-break: break-word;
  margin: 0px 10px;
  display: flex;
  text-align: start;
  flex-direction: row;
  align-items: center;
  gap: 8px;
  transition: background-color 0.3s;
}
.friendsInf button:hover{
  transition: background-color 0.2s;
  background-color: #2256ab;
}
.newChangeButton::after{
  content: "";
  margin-left: auto;
  height: 18px;
  width: 18px;
  border-radius: 50%;
  background-color: #64b9f6;
}
.friendsInf button img{
  height: 30px;
  width: 30px;
  filter: invert(100%) sepia(4%) saturate(0%) hue-rotate(305deg) brightness(107%) contrast(104%);
}
.friendsInf .friendsTxt{
  color: black;
}
.addFriend{
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.addFInput{
  display: flex;
  flex-direction: column;
}
.addFInput h4{
  font-size: 20px;
  text-align: start;
  margin: 0;
}
.addFInput input{
  padding: 5px 5px;
  font-size: 22px;
}
.foundUsers{
  padding: 15px 0;
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.userToAdd{
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  gap: 10px;
}
.userToAdd img{
  border-radius: 50%;
  height: 70px;
}
.rodal-dialog{
  overflow-y: auto;
}
.sideBar{
  overflow-y: scroll;
  z-index: 3;
  height: 100vh;
}
.sideBarButton{
  top: 1rem;
  left: 1rem;
  border-radius: 0;
  background-color: var(--asideColor);
  border: none;
  cursor: pointer;
  display: none;
}
.closed{
  transform: translateX(-100%);
}
.none{
  opacity: 0 !important;
  pointer-events: none !important;
}
.hidden{
  display: none;
}
.backgroundSideBar{
  display: none;
}

.LogOutBTN{
  margin-right: 10px;
  background-color: transparent;
  padding: 0;
  border: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: transform 0.3s;
}
.LogOutBTN img{
  height: 40px;
  width: 40px;
}
.LogOutBTN:hover{
  transition: transform 0.2s;
  transform: scale(1.3);
}
@media (width<=870px) {
  .sideBar{
    position: fixed;
    transition: transform 0.3s ease-in-out;
    width: 80%;
  }
  aside{
    border-right: 1px solid rgb(124, 124, 124)
  }
  .content{
    grid-template-columns: 0.5fr 3fr;
    background-color: red;
  }

  .sideBarButton{
    display: block;
  }
  .backgroundSideBar{
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.493);
    width: 100vw;
    height: 100vh;
    margin: 0;
    padding: 0;
    opacity: 1;
    z-index: 2;
    transition: opacity 0.5s ease;
    pointer-events: all;
  }
}
