#root {
  width: 100%;
  margin: 0 auto;
  padding: 2rem 0;
  text-align: center;
}
/*Main Part*/
.content{
  color: white;
  display: grid;
  grid-template-columns: 1fr 3fr;
  background-color: red;
  height: 100vh;
  width: 100%;
}
aside{
  padding: 25px;
  background-color: green;
  height: 100%;
}
section{
  background-color: blue;
  height: 100%;
}
/*Main Part - Account*/
.accountInf{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 25px
}
.account{
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px
}
.account img{
  border-radius: 50%;
  height: 55px;
  width: 55px;
  object-fit: contain;
}
/*Main Part - friendsInf*/
.friendsInf .friendsTxt{
  color: black;
}
.addFriend{
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.addFInput{
  display: flex;
  flex-direction: column;
}
.addFInput h4{
  font-size: 20px;
  text-align: start;
  margin: 0;
}
.addFInput input{
  padding: 5px 5px;
  font-size: 22px;
}
.foundUsers{
  padding: 15px 0;
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.userToAdd{
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  gap: 10px;
}
.userToAdd img{
  border-radius: 50%;
  height: 70px;
}