.allChats{
    display: flex;
    flex-direction: column;
}
.chatListBTN{
    border-radius: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    gap: 25px;
    border: 3px solid rgb(0, 0, 0);
}
.chatListBTN img{
    border-radius: 50%;
    height: 75px;
    width: 75px;
    object-fit: cover;
}
.chatListBTN h1{
    font-size: 32px;
}
.chatModification::after{
    content: "";
    height: 25px;
    width: 25px;
    border-radius: 50%;
    background-color: rgb(97, 205, 255);
}
.chatListBTN:hover{
    border: 3px solid gray;
}
.chatListBTN_ACTIVE{
    background-color: gray;
}