:root{
    --friendChatColor: rgb(56, 56, 56);
    --friendChatColorHover: rgb(73, 73, 73);
    --selectedFriendChatColor: rgb(151, 151, 151);
}
.allChats{
    display: flex;
    flex-direction: column;
}
.chatListBTN{
    word-break: break-word;
    padding: 5px 10px;
    border-radius: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    gap: 8px;
    background-color: var(--friendChatColor);
}
.chatListBTN:hover:not(.chatListBTN_ACTIVE){
    background-color: var(--friendChatColorHover);
}
.btnUsername{
   font-size: 1.875em;
}
.chatListBTN img{
    border: 2px solid #0f1e387e;
    border-radius: 50%;
    width: 28vw;
    height: 28vw;
    max-height: 4.7rem;
    max-width: 4.7rem;
    object-fit: cover;
}
.chatModification::after{
    content: "";
    height: 25px;
    width: 25px;
    border-radius: 50%;
    background-color: rgb(97, 205, 255);
}
.chatListBTN_ACTIVE{
    background-color: var(--selectedFriendChatColor)
}