.friendProfileContainer{
    display: flex;
    flex-direction: column;
    color: black;
    align-items: center;
    padding-top: 20px;
}
.friendProfileContainer h1{
    word-break: break-all;
    margin: 10px 0px;
    font-weight: 500;
}
.friendProfileContainer h2{
    margin-top: 0;
    font-weight: 400;
    line-height: 1.8rem;
}
.changeBackgroundMode{
    color: black;
}
.changeBackgroundMode h1{
    font-size: 28px;
    margin: 0;
    padding-bottom: 15px;
}
.removeFriend{
    transition: background-color 0.3s;
    background-color: rgb(236, 89, 89);
    border: 2px solid rgb(235, 19, 19);
}
.removeFriend:hover{
    transition: background-color 0.2s;
    background-color: rgb(235, 19, 19);
    border-color: rgb(235, 19, 19);
}
.friendProfileContainer img{
    height: 250px;
    width: 250px;
    border-radius: 50%;
    object-fit: cover;
}
.rodal-dialog{
    overflow-y: auto;
}
.solidColors{
    display: grid;
    gap: 15px;
    grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
}
.solidColor{
    padding-top: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 180px;
}
.solidColorContent{
    height: 100%;
    width: 100%;
    background-color: white;
}
.solidColor h3{
    text-align: center;
    margin-top: 5px;
    margin-bottom: 0;
}
.Themes{
    display: grid;
    gap: 15px;
    grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
}
.theme{
    padding-top: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.theme img{
    height: 180px;
    width: 100%;
    object-fit: cover;
}
.animations{
    display: grid;
    gap: 15px;
    grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
}
.animated{
    padding-top: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.animated img{
    height: 180px;
    width: 100%;
    object-fit: cover;
}