:root{
    --borderUserColor: #24252d;
    --mainColor: #363944;
}
.friendsContainer{
    display: flex;
    flex-direction: column;
    gap: 15px;
}
.friendBlock{
    border-radius: 15px;
    padding: 5px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    color:#eff8ff;
    background-color: var(--mainColor);
    border: 2px solid var(--borderUserColor);
    transition: border 0.3s, background-color 0.3s;
    word-break: break-word;
}
.friendBlock:hover{
    transition: border 0.2s, background-color 0.2s;
    background-color: #3d414f;
    border: 2px solid var(--borderUserColor)
}
.friendBlock img{
    border-radius: 50%;
    border: 2px solid #0f1e387e;    
    height: min(14vw, 4rem);
    width: min(14vw, 4rem);
    object-fit: cover;
    border: 2px solid var(--borderUserColor);
}

.friendBlock h2 {
    word-break: break-word;
}

.chatNameInputFriends {
    position: relative;
    margin-bottom: 15px;
}
.returnFriendBTN{
    position: absolute;
    left: 0;
    margin-left: 10px;
    padding: 0;
    transition: transform 0.3s;
    background-color: transparent;
}
.returnFriendBTN:hover{
    transition: transform 0.2s;
    transform: scale(1.2);
    border: none;
}
.returnFriendBTN img{
    height: 35px;
    width: 35px;
}
.chatNameInputFriends input{
    padding: 10px 10px;
    height: 43px;
    border: none;
    outline: none;
    box-sizing: border-box;
    width: 100%;
    font-size: 24px;
    border: 2px solid black;
    border-radius: 8px;
}

.clearButtonFriends {
    margin: 0;
    padding: 0;
    padding-right: 10px;
    position: absolute;
    right: 5px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    background: none;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
}
.hidden{
    display: none;
  }
.clearButtonFriends img{
    transition: transform 0.3s;
    height: 35px;
    width: 35px;
}
.clearButtonFriends img:hover{
    transition: transform 0.2s;
    transform: scale(1.3);
}