:root{
    --borderUserColor: #226ad3;
    --mainColor: #2b7fe5;
}
.friendsContainer{
    display: flex;
    flex-direction: column;
    gap: 15px;
}
.friendBlock{
    border-radius: 15px;
    padding: 5px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    color:#eff8ff;
    background-color: var(--mainColor);
    border: 2px solid var(--borderUserColor);
    transition: border 0.4s;
    word-break: break-word;
}
.friendBlock:hover{
    transition: border 0.2s;
    border: 2px solid #192e52;
}
.friendBlock img{
    border-radius: 50%;
    border: 2px solid #0f1e387e;    
    height: min(14vw, 4rem);
    width: min(14vw, 4rem);
    object-fit: cover;
    border: 2px solid var(--borderUserColor);
}

.friendBlock h2 {
    word-break: break-word;
}